.formulaire{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:steelblue;
    
}

.formulaire label,
.formulaire input,
.formulaire textarea,
.formulaire button {
  margin-bottom: 40px;
  max-width: 500px;
  
}

label {
    width: 30%;
    max-width: 150px;
    
  }
  
  
   textarea {
    width: 200px;
    
  }

  button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
  }
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    

  }
  textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 200px;
    resize: none;
    border-radius: 10px;
    
  }

  form {
    width: 500px;
  }

input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
}





