.disney-card {
    color: #1b1b1b;
    width: 190px;
    height: 284px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .name-overlay {
    
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .disney-card-image-front img {
    height: 250px;
    width: 100%;
    border-radius: 20px;   
    padding: 15px; 
    object-fit: cover;
    margin-top: 10px;
  }
  
  .disney-card-image-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    bottom: -2.5%;
  }
  
  .disney-card-details-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    background-color: #dfac20;
    height: 100%;
    width: 100%;
    padding: 10px;
  
  }

  .disney-card-details-back p {
    margin: 4px 0;
    font-size: 12px;
  }
  
  .disney-card-details-back p:first-child {
    font-weight: bold;
  }

  
  .disney-card:hover {
    background-color: #1b1b1b25;
  }
  
  .disney-card.active .disney-card-image-front {
    transform: translateX(-100%);
  }
  
  .disney-card.active .disney-card-details-back {
    transform: translateX(0);
  }
  
  
  
  
  
  
  