.rick-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:sandybrown;
    
    &_select {
        margin-top: 48px;
        padding: 12px 40px;
        font-size: 24px;
        border-radius: 20px;
        font-family: "Lucida Console", Monaco, monospace;
        width:15%;
    }

    &_ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4%;
        margin-bottom: 30%;
        
    }
}
@media screen and (max-width: 768px) {
    .rick-page {
      padding: 20px;
    }
    
    .rick-page_select {
      padding: 8px 24px;
      font-size: 18px;
    }
    
    .rick-page_ul {
      gap: 2%;
      margin-bottom: 10%;
    }
  }
  