.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(172, 172, 207);
  }
  
  .forms {
    max-width: 600px;
    width: 100%;
    padding: 20px;
  }
